.THIS .margin-top {
    margin-top: 25px;
}

.THIS .slds-nowrap {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 25px;
}

.THIS .slds-col.slds-size_1-of-4 button {
    margin-left: 20px;
    margin-top: 16%;
}

.THIS lightning-radio-group.slds-form-element {
    margin-left: 25px;
}

.THIS input#input-41 {
    margin-top: -4px;
}

.THIS .slds-form-element__control.slds-grow input {
    margin-right: 60px;
}

.THIS lightning-checkbox-group.slds-form-element {
    margin-left: 25px;
}

.THIS .slds-col.slds-size_1-of-4 {
    margin-top: -7px;
}

.THIS div#error-message-unique-id {
    color: red;
}


.THIS abbr[title] {
    cursor: help;
    display: none;
}