.THIS .slds-button_icon-bare{
    display: none;
}

.THIS .slds-th_action{
    display:block !important;
    overflow:visible !important;    
    padding-right: .0rem !important;
    padding: .0rem !important;
    
}

.THIS .slds-truncate{
    overflow:hidden ;
    word-wrap: break-word;
    
}

.THIS .slds-text-title_caps{
   font-size: .70rem;
}