.THIS .table{
    border: 1px solid black;
}
.THIS .td{
    border: 1px solid black;
}
.THIS .th{
    border: 1px solid black;
}



.THIS .left{
    float: left;
}

.THIS .clickable {
    cursor: pointer;
}

.THIS .slds-modal__container {
    width: 80%;
    max-width: unset;
}

.THIS .slds-dropdown_left {
    max-width: unset;
}

.THIS .odd-row {
    background-color: #fff;
}

.THIS .box-bianco {
    background-color: #fff;
}

.THIS .even-row {
    background-color :rgb(250, 250, 250);
}

.THIS .bold {
    font-weight: bold;    
}

.THIS .download{
    cursor:pointer;
}

.THIS .download:hover{
    background-color :rgb(250, 250, 249);
}

.THIS .box-grigio{
    background-color :rgb(230,230,230);
}

.THIS .box-grigiochiaro{
    background-color :rgb(192, 190, 190);
}


.THIS .box-wrap{
    width: 20px;;
    word-wrap: break-word;

}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}