.THIS .slds-form-element {
    margin-top: 25px;
}

 .THIS .myInput{
     padding-left: 0%;
     margin-top: 0;
 }

 .THIS .agg{
     margin-top: 7%;
 }

 .THIS .slds-form-element{
     margin-top: 2% !important;
 }