.THIS .slds-form-element__control .slds-radio, .THIS .slds-form-element__control .slds-checkbox {
    display: inline;
}
.THIS {
    width:90%;
    height: 90%;
}
.THIS .cliente-background {
    background-color: #d99290;
}
.THIS .SizeComponent{

}